@import '../../styles/media.scss';

.currencies-app {
    text-align: center;
    height: 100%;
    color: white;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
  }
  
  .currencies-header {
    height: 10%;
  
    @include mid-phones() {
      height: 15%;
  
      & h1 {
        font-size: 20px;
      }
  
      & h3 {
        font-size: 16px;
      }
    }
  
    @include phones() {
      height: 10%;
    }
  }
  
  .currencies-footer {
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
  
    &__text {
      margin-right: 20px;
    }
  
    @include mid-phones() {
      flex-direction: column;
      height: 15%;
  
      &__img {
        width: auto;
        height: 25px;
      }
    }
  
    @include phones() {
      height: 10%;
    }
  }
