
.App {
  text-align: center;
  height: 100%;
  color: white;
  background-color: steelblue;
  display: flex;
  flex-direction: column;
}

.currencies-header, .currencies-footer {
  height: 10%;
}

.currencies-footer {
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currencies-footer__text {
  margin-right: 20px;
}
.currencies-panels-list {
  height: 80%;
}

.currencies {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.currencies:first-of-type::after {
  position: absolute;
  top: calc(50% - 1px);
  content: '';
  border: 20px solid transparent;
  border-top: 20px solid steelblue;
}

.currencies:last-of-type {
  background-color: royalblue;
  justify-content: flex-start;
}

.currencies__list {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.currencies__item {
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  width: 130px;
}

.currencies__chosen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  width: 300px;
}

.currencies__input {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 30px;
  text-align: right;
  width: 200px;
}

.currencies__input::placeholder{
  color: rgba(255, 255, 255, 0.5)
}

.currencies__additional {
  font-size: 12px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .currencies__list {
    margin: 10px;
  }

  .currencies__item {
    padding: 5px;
    margin: 0px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .currencies__additional {
    margin-left: 5px;
  }

  .currencies-panels-list {
    height: 70%;
  }

  .currencies__input {
    font-size: 20px;
    width: 150px;
  }

  .currencies__chosen {
    font-size: 20px;
    width: 200px;
  }

  .currencies-header {
    height: 15%;
  }

  .currencies-header h3 {
    font-size: 16px;
  }

  .currencies-header h1 {
    font-size: 20px;
  }

  .currencies-footer {
    flex-direction: column;
    height: 15%;
  }
  

  .currencies-footer__img {
    width: auto;
    height: 25px;
  }
}

@media screen and (max-width: 479px) {
  .currencies__list {
    flex-direction: column;
    margin: 10px;
  }

  .currencies__item {
    padding: 5px;
    margin: 0px;
    width: 150px;
  }

  .currencies__input {
    font-size: 20px;
    width: 150px;
  }

  .currencies__chosen {
    font-size: 20px;
    width: 200px;
  }

  .currencies-header h3 {
    font-size: 16px;
  }

  .currencies-header h1 {
    font-size: 20px;
  }

  .currencies-footer {
    flex-direction: column;
  }

  .currencies-footer__img {
    width: auto;
    height: 25px;
  }
}
